[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trigger-recommendations = {editable = true, git = "https://github.com/daxtery/Trigger-Recommendations.git"}
sentence-transformers = "*"
tensorflow = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"
