[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "*"
scipy = "*"
pymongo = "*"
mongoengine = "*"
rq = "*"
Flask = "*"
redis = "*"
dnspython = "*"
Flask-RQ2 = "*"
rq-dashboard = "*"
Flask-CLI = "*"
tensorflow = "==2.4.1"

[dev-packages]
pandas = "*"
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.7"

[packages.interference]
editable = true
git = "https://github.com/daxtery/Trigger-Recommendations.git"
