[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "*"
tensorflow = "*"
scipy = "*"
interference = {editable = true, git = "https://github.com/daxtery/Trigger-Recommendations.git"}
pymongo = "*"
mongoengine = "*"
rq = "*"
flask = "*"
redis = "*"
dnspython = "*"

[dev-packages]
pandas = "*"
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
