brotli==1.0.9
cryptography==3.3.1
Cython==0.29.21
dataclasses==0.8
faiss==1.5.3
Flask==1.1.2
importlib_metadata==3.1.1
ipaddr==2.2.0
keyring==21.5.0
lockfile==0.12.2
lxml==4.6.2
matplotlib==3.3.3
mock==4.0.3
mypy_extensions==0.4.3
numpy==1.19.4
ordereddict==1.1
pandas==1.1.5
protobuf==3.14.0
pymongo==3.11.2
pyOpenSSL==20.0.0
python_graphql_client==0.4.2
redis==3.5.3
reverb==2.0.1
rq==1.7.0
scikit_learn==0.23.2
scipy==1.5.4
sentence_transformers==0.3.9
simplejson==3.17.2
tensorflow==2.3.1
tf_agents==0.6.0
typing_extensions==3.7.4.3
wincertstore==0.2
zipp==3.4.0
